.cabecalho {
    top: 0;
    left: 0;
    text-align: center;
    width: 100%;
    background-color:rgb(173, 116, 31);
    position: fixed;
    z-index: 1;
    color: white;
}

.navbar {
    position: fixed;
    top:0;
    height:100%;
    width: 150px;
    background-color: rgb(226, 162, 102);
    text-align: center;
    margin-top: 80px;
    left: 0;
    z-index: 0;
    color: white;
    font-size: large;
    
}
section:nth-child(1){
    padding-top: 70px;
    width:1199px;
    height: 500px;
    margin-left: 142px;
    background-color: rgb(114, 62, 19);
    color: white;
    font-size: large;
}
section:nth-child(2){
    position: relative;
    width:1199px;
    height: 500px;
    margin-left: 142px;
    background-color: rgb(145, 168, 103);
    color: white;
    font-size: large;

}
section:nth-child(3) {
    width:1199px;
    height: 500px;
    margin-left: 142px;
    background-color: rgb(60, 70, 47);
    color: white;
    font-size: large;
    
}
.decorativo {
    position: absolute;
    bottom: 10px;
    left: 1050px;
    color: white;
}
.rodape {
    background-color: rgb(163, 134, 122);
    height: 100px;
    width: 1341px;
    left:0px;
    text-align: center;
    font-size: large;
    color: white;
    
    }